<form action="/update/{{id}}" method="post">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Sinopse: </p>
    <textarea name="conteudo"></textarea>
    <a href="/adm"><button type="submit">Cadastrar postagem</button></a>
</form>