{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Nova categoria:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
            <label for="nome">Nome: </label>
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome da categoria">

            <label class="mt-3" for="slug">Slug: </label>
            <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da categoria">

            <button type="submit" class="btn btn-success mt-3" >Criar categoria</button>
        </form>
    </div>
</div>